* {
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  justify-content: center;
  margin-top: 70px;
  justify-content: center;
  background: linear-gradient(
      170deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    ),
    linear-gradient(
        45deg,
        rgba(20, 24, 31, 0.8) 0%,
        rgba(41, 48, 61, 0.8) 50%,
        rgba(82, 95, 122, 0.8) 50%,
        rgba(133, 146, 173, 0.8) 100%
      )
      #313949;
  display: flex;
}

h2 {
  margin-bottom: 40px;
  color: #313949;
  text-align: center;
}

form {
  width: 300px;
  height: 400px;
  margin: 10px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ccc;
}

form ::placeholder {
  text-align: center;
}

button {
  float: right;
  margin-right: 10px;
  background: linear-gradient(
      170deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    ),
    linear-gradient(
        45deg,
        rgba(20, 24, 31, 0.8) 0%,
        rgba(41, 48, 61, 0.8) 50%,
        rgba(82, 95, 122, 0.8) 50%,
        rgba(133, 146, 173, 0.8) 100%
      )
      #313949;
  color: #ecf0f1;
  border-radius: 5px;
  width: 95%;
  height: 30px;
}

input {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
}

p {
  margin-top: 90px;
  text-align: center;
}
